.header{
    display: flex;
    background-color: #1f2937;
    padding-left: 17em;
    padding-right: 17em;
    padding-bottom: 8em;
    flex-direction: column;
}

.top-header{
    display: flex;
    flex-direction: row;
    min-width: 25em;
    width: 100%;
    height: 280px;
    flex-shrink: 0;
}

.logo{
    font-size: 24px;
}

.links{
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    font-family:'Roboto', sans-serif;;
    font-size: 18px;
    color: #e5e7eb;
}

.links a{
    color: white;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.section-left{
    width: 100%;
    padding-right: 20px;
    min-width: 15em;
}

.lower-header{
    display: flex;
    flex-direction: row;
    height: 280px;
}

.section-left div{
    color: #f9faf8;
    font-family:'Roboto', sans-serif;

}
.head{
    font-size: 48px;
    font-weight: bolder;
}
.text-under{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 14px;
}

.image{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 9em;
}

.image-content{
    background-color: grey;
    width: 100%;
    display: flex;
    color: #f9faf8;
    font-family:'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
}

.body-header{
    display: flex;
    justify-content: center;
    color: #1f2937;
    font-size: 36px;
    font-family:'Roboto', sans-serif;
    font-weight: bolder;
    margin-bottom: 2em;
}

.images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10em;
    margin: 13em 4em;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 17em;
    margin: 0em 1em;
}

.boxes{
    display: flex;
    justify-content: center;
}

.box{
    border: 3px #3882f6 solid;
    height: 15em;
    width: 15em;
    border-radius: 1em;
    margin: 1em;
    gap: 3em;
}

.text{
    max-width: 13em;
    font-family:'Roboto', sans-serif;
}

.inspiring-quote{
    background-color: #e5e7eb;
    color: #1f2937;
    font-family:'Roboto', sans-serif;
    font-size: 36px;
    font-style: italic;
    padding: 6em 272px;
    display: flex;
    flex-direction: column;
}

.author{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;

}

.sign-up{
    background-color: #3882f6;
    margin: 3em 6em;
    display: flex;
    flex-direction: row;
    padding: 4em 7em;
    border-radius: 1em;
}
.sign-up div{
    font-family:'Roboto', sans-serif;
}

.left-text{
    color: #e5e7eb;
}

.action{
    font-weight: bolder;
    font-size: 24px;
    padding-bottom: 7px;
}

.sign-up .button{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.button button{
    background-color: #3882f6;
    border-radius: 3px;
    font-size: 18px;
    font-family:'Roboto', sans-serif;
    border: #f9faf8 1px solid;
    color: white;

}