.header{
    display: flex;
    background-color: #1f2937;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 8em;
}
.header .box1{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 250px;
    margin: 0;
    border: 0;
}

.row{
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 5px;
}

.box1 .logo{
    text-decoration: none;
    font-size: 24px;
    color: #f9faf8;
    width: 100%;
}

.box1 .links ul, a{
    list-style-type: none;
    text-decoration: none;
    color: #f9faf8;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 6px 0px;
}

.box1 .links{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.box1 .head{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.box1 .text-under{
    color: #e5e7eb;
    font-size: 18px;
    padding-top: 30px;
}

.box1 .button{
    padding-top: 30px;
}

.box1 .image{
    display: flex;
    background-color: #e5e7eb;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family:'Roboto', sans-serif;
}

.body-header{
    display: flex;
    justify-content: center;
    color: #1f2937;
    font-size: 36px;
    font-family:'Roboto', sans-serif;
    font-weight: bolder;
    margin-bottom: 2em;
}

.images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10em;
    margin: 13em 4em;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 17em;
    margin: 0em 1em;
}

.images .boxes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    border: 3px #3882f6 solid;
    height: 15em;
    width: 15em;
    border-radius: 1em;
    margin: 1em;
    gap: 3em;
}

.text{
    max-width: 13em;
    font-family:'Roboto', sans-serif;
}

.inspiring-quote{
    background-color: #e5e7eb;
    color: #1f2937;
    font-family:'Roboto', sans-serif;
    font-size: 36px;
    font-style: italic;
    padding: 6em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inspiring-quote .box{
    border: 0;
    width: 540px;
    height: 300px;
    margin: 5em 0em;
}

.author{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;

}

.sign-up{
    background-color: #3882f6;
    margin: 3em 6em;
    display: flex;
    flex-direction: row;
    padding: 4em 7em;
    border-radius: 1em;
}
.sign-up div{
    font-family:'Roboto', sans-serif;
}

.left-text{
    color: #e5e7eb;
}

.action{
    font-weight: bolder;
    font-size: 24px;
    padding-bottom: 7px;
}

.sign-up .button{
    margin-left: auto;
    border: 3px #f9faf8 solid;
    border-radius: 7px;
    margin-top: auto;
    margin-bottom: auto;
}

.button button{
    display: flex;
    background-color: #3882f6;
    border-radius: 7px;
    font-size: 18px;
    font-family:'Roboto', sans-serif;
    border: 1px solid #3882f6;
    width: 7em;
    justify-content: center;
}